*{
    margin: 0;
    padding: 0;
}

.box{
    position: relative;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
}


.div_border{
    height: 500px;
    width: 50%;
    border: 2px dotted black;
    margin-bottom: 2px;
}

.news_all{

    left: 51%;
    top:0px;
    position: fixed;
    border: 2px dotted black;
    margin-left: 4px;
    
}

p{
    padding-left:25px;
    padding-top:25px;
    font-size: 20px;
}
.news_text{
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 20px;
    border: 1px solid greenyellow;
    position: sticky;
    height: 300px;
    
    overflow: auto;
    
}
