*{
    margin: 0;
    padding: 0;
    list-style-type: none;  
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.flex_groups{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

body{
    display: flex;
    background: url(./asserts/fox.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100%;
    justify-content: center;
}

.header{
    display: flex;
    width: 80%;
    height: 75px;
    justify-content: space-between;
    
}

.list_logo{
    display: flex;
    align-items: center;
    width: 25%;
}

.info_name{
    text-align:center;
    color:#F7F7F7;
    padding-left: 10px;
    font-size: 20px;
}



.list_header{
    display: flex;
    width: 30%;
    justify-content:space-around;
    text-align: center;
    align-items: center;
}



.list_header > li:not(.info_search) {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}

.info_search{
    display: flex;
}

.info_sign_in{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 45px;
    border: 2px solid #CD6326;
    border-radius: 15px;
    transition: 0.5s;
}

.info_sign_in:hover{
    background-color: #CD6326;
}

a{
    text-decoration: none;
    color: #F7F7F7;
}

 .survival{
    width: 1480px;
} 

.survival_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 900px;
    font-style: normal;
    font-weight: normal;
}

.survival_title{
    display: flex;
    height: 100px;
    align-items: flex-end;
}

.survival_title > a{
    font-size: 48px;
    line-height: 100px;
    letter-spacing: 2px;    
    color: #CD6326;
}

.survival_text{
    font-size: 18px;
    width: 340px;
    letter-spacing: 2px;
    color: #F7F7F7;
}

.survival_button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 45px;
    border: 2px solid #CD6326;
    border-radius: 15px;
    transition: 0.5s;
}

.survival_button > a{
    color:#F7F7F7;
    letter-spacing: 2px;
    font-size: 18px;

}

.survival_button:hover{
    background-color: #CD6326;
}

.survival_button_position{
    display: flex;
    height: 100px;
    align-items: flex-end;
}


.articles{
    display: flex;
    width: 100%;
    height: 1368px;
    background-color:gainsboro ;
    justify-content: center;
}

.articles_texts{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content:center;
}

.articles_title{
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
}

.articles_title2{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
}
